html, body{
    margin: 0;
    height: 100vh;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    width: 120px;
    height: 100%;
    background-color: antiquewhite;
  

}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    background-color: azure;
    height: 20%;
    width: 100%;
    margin-bottom: 9px;
    border-radius: 8px;
  
  
}

.main{ 
    background-color: lavender;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    

}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */

    text-decoration-style: none;
}

.flexer {
    display: flex;
   height: 100vh;
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */
a:hover {
   background-color: white; 
}
p {
    text-align: center;
}



.container {
    display:inline;
   height: 100%;
 
   


}


h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

